<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/drinks/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/drinks" method="POST">
    <label for="drink-size-input">Drink Size:</label>
    <input type="text" name="drink-size"
    id="drink-size-input">
    <label for="drink-base-input">Drink Base:</label>
    <input type="text" name="drinkBase" id="drink-base-input">
    <label for="sweetness-rating-select">Sweetness Rating:</label>
    <select name="sweetnessRating" id="sweetness-rating-select">
      <option value=“1”>1</option>
      <option value=“2”>2</option>
      <option value=“3”>3</option>
      <option value=“4”>4</option>
      <option value=“5”>5</option>
      <option value=“6”>6</option>
      <option value=“7”>7</option>
      <option value=“8”>8</option>
      <option value=“9”>9</option>
      <option value=“10”>10</option>
    </select>
    <label for="iced-checkbox">Iced?:</label>
    <input type="checkbox" name="Iced" id="iced-checkbox" checked>
    <button type="submit">Add Drink</button>
  </form>
</main>
<%- include("../partials/footer") %>