html {
  box-sizing: border-box;
  height: 100vh;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #E4F1F4;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
  /* background-image: url("../images/coffeebeansfalling.png"); */
  width: 90%;
  align-items: flex-end;
  background-size: 1000px;
  background-position: right;

}

img {
  margin-top: 120 px;

}

nav {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
  border-bottom: black solid 1px;
  width: 100%;
  position: fixed;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  color: #f5cac3;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  margin-top: 120px;
  font-weight: bolder;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;

}
h2 {
  font-size: 30px;
  color: #f4acb7;
}

h3 {
  font-size: 25px;
  color: #e2afff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
  color: black;
}

label {
  font-weight: bold;
  color: #9f86c0;
  }

section {
  background-image: url(../images/coffeebeansfalling.png);
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
}

a {
  color: #868686;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

pre {
  font-size: 14px;
  color: black;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150%;

}

li {
  color: black;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;

}

div.card {
  background-color: #EAF5E6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* margin-top: 120px; */
  /* padding-top: 120px; */
}

.card:hover {
  box-shadow: inset 400px 0 0 0;

}

img.coffeecluster{
  align-self: flex-end;
}

img.illdrinktothat {
  align-self: flex-start;
  margin-top: -550px;
}

a:hover {
  box-shadow: inset 1600px 0 0 0 #EAF5E6;
  color: #142B30;
}

.coffeecup{
  width: 120px;
  height: auto;
}

.createdby {
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  margin: 100px;
  text-align: center;
  font-size: xx-large;
}



/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.commentbox {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
}

.nav {
  font-size: 19px;
  font-weight: 250;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card-container {
  padding: 200px;
  display: flex;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  align-items: flex-start;
  justify-content: space-between;
}

body.bgimgselect {
  background-image: url(../images/coffeebeansfalling.png);
  width: 110%;
  align-items: flex-end;
  background-size: 1000px;
  background-position: right;
  text-align: center;
  background-repeat:no-repeat ;

}

.editcommentform {
  flex-direction: column-reverse;
  margin: 120px;
  
}

#editcommentbutton {
  padding-top: 120px;
}

#drinkview {
    inline-size: 1550px; 
}